* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --background-color: rgb(10, 10, 20);
  --highlight-color: rgb(15, 15, 30);
  --primary-color: rgb(90, 60, 235);
  --link-color: rgb(15, 180, 255);
  --active-color: rgb(255, 54, 218);
  --subheading-color: rgba(255, 255, 255, 0.7);
  --shadow-color: rgb(26, 26, 36);
}

html,
body {
  min-height: 100%;
}

body {
  padding: 1rem;
  background: var(--background-color);
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-size: 2.5rem 2.5rem;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.06) 0.12rem,
    transparent 0
  );
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  width: 0.5rem;
  background: var(--background-color);
}
body::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  border: 0.4rem solid var(--background-color);
}
pre {
  background: var(--highlight-color);
  padding: 1em;
}
@media screen and (min-width: 1601px) {
  html {
    font-size: 1vw;
  }
}

h1 {
  color: var(--primary-color);
}

img {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
}
a {
  color: var(--link-color);
}
::marker {
  content: "•";
  font-family: sans-serif;
  font-size: 1rem;
}
li {
  padding-left: 0.5rem;
}
