---
import Author from './Author.astro';

export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---
<div class="layout">
  <header>
    <p class="publish-date">{publishDate}</p>
    <h1 class="title">{title}</h1>
    <img src="{heroImage}" alt="{title}">
    <Author name="@tusharsadhwani" href="https://tusharsadhwani.dev" />
  </header>
  <article class="content">
    <main>
      <slot />
    </main>
  </article>
</div>

<style>
header > img {
  width: 100%;
  max-width: 700px;
}

main :global(* + *) {
  margin-top: 1rem;
}

.hero-image {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 1280px;
}

@media (max-width: 50em) {
  .hero-image {
    height: 260px;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.content {
  margin: auto;
  max-width: 700px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--theme-divider);
}

.title,
.author,
.publish-date {
  margin: 0;
}

.publish-date,
.author {
  color: var(--theme-text-lighter);
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
}

:global(.content) {
  position: relative;
}
:global(
  .content h1:hover > a::after,
  .content h2:hover > a::after,
  .content h3:hover > a::after,
  .content h4:hover > a::after,
  .content h5:hover > a::after,
  .content h6:hover > a::after
) {
  content: "🔗";
  position: absolute;
  left: -1.5em;
  transform: scale(0.8);
  padding-right: 1em;
}
</style>
