---
import Switch from '../components/ThemeSwitch/Switch.jsx'
---
<header>
  <a href="/">
    <svg
      viewBox="0 0 400 400"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      width="400"
      height="400"
      version="1.1"
    >
      <g>
        <rect
          width="380"
          height="380"
          x="10"
          y="10"
          stroke-width="18"
          rx="18"
          fill-opacity="0"
          stroke="#fff"
        />
        <text
          x="52.5"
          y="357.427"
          font-family="sans-serif"
          font-size="250"
          font-weight="bold"
          text-anchor="start"
          transform="matrix(0.946786642074585,0,0,1.0035842657089233,19.687279514968395,-1.4603642597794533)"
          xml:space="preserve"
          style="stroke: #fff; fill: #fff"
        >TS</text>
      </g>
    </svg>

  </a>
  <div class="right">
    <Switch client:load />
  </div>
</header>

<style>
  header,
  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  svg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0;
  }
</style>
