---
import Switch from '../components/Switch.astro'
---
<header>
  <a href="/">
    <img src="/ts.svg" alt="TS">
  </a>
  <div class="right">
    <Switch />
  </div>
</header>

<style>
  header,
  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0;
  }
</style>
