---
export interface Props {
  prevUrl: string;
  nextUrl: string;
}

const { prevUrl, nextUrl } = Astro.props;
---

<style>
.nav {
  display: flex;
  margin: auto;
}

.prev,
.next {
  display: block;
  text-transform: uppercase;
  font-size: 0.8em;
}
.prev {
  margin-right: auto;
}
.next {
  margin-left: auto;
}

a[href="#"] {
  display: none;
}
</style>

<nav class="nav">
  <a class="prev" href={prevUrl || '#'} aria-label="Previous Page">Prev</a>
  <a class="next" href={nextUrl || '#'} aria-label="Next Page">Next</a>
</nav>
